* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

/*Home Section*/

.container {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 18px;
}

.logo_section h2 a {
    color: #6C63FF;
    background: -webkit-linear-gradient(#6C63FF, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.nav_section nav ul {
    display: flex;
    list-style: none;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
}

.nav_section nav ul li {
    padding: 10px;

    font-size: 20px;
}

.nav_section nav ul li a {
    color: black;

}

.btn_section {
    padding: 9px 50px;
    background-color: #7000FF;
    border-radius: 40px;
    cursor: pointer;
    width: 133px;
    height: 42px;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
}

.btn_section a {
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.82);
    height: 129px;

}

.nav_section i {
    display: none;
    font-size: 28px;

}

.home_section_btn {
    padding: 10px 21px;

    border-radius: 15px;

    height: 45px;
    text-align: center;
    margin-right: 10px;
    width: 136px;
}

.home_btn {
    display: flex;
    margin-top: 11px;
}

.btn_call {
    background-color: white;

}

.btn_call a {
    color: black;
}

#Home_section {
    background-color: rgba(0, 0, 0, 0.82);
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.home_titel h2 {
    font-size: 7rem;
    font-weight: 800;
}

.home_titel h2 span {

    color: #6C63FF;
    background: -webkit-linear-gradient(#FFFFFF, #7000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

#Home_section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* About Section*/


#about_section {
    background-color: rgba(0, 0, 0, 0.82);
    color: white;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.about_titel {
    width: 50%;
}

.about_titel p {
    margin-top: 16px;
    line-height: 22.5px;
}

.about_titel h3 {
    margin-top: 7px;
    font-size: 24px;
}

.about_titel h3 span {
    background-color: white;
    color: rgba(112, 0, 255, 1);
    padding: 4px;
    font-weight: 700;
}

.about_btn {
    background-color: blue;
    width: 176px;
    height: 44px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 11px;
    margin-top: 11px;
}

.about_btn a {
    color: white;
}

.about_btn i {
    margin-left: 10px;
}

#about_section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_img_section img {
    width: 503px;
    height: 286px;
    border-radius: 37px;
    box-shadow: 0px 4px 10px 0px;
}

/* Choose Us Section*/

#choose_section {
    background-color: rgba(0, 0, 0, 0.82);
    color: white;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.choose_titel {
    width: 50%;
}

.choose_titel p {
    margin-top: 16px;
    line-height: 22.5px;
}

#choose_section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose_titel h3 {
    text-align: end;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.choose_titel h3 span {
    background-color: #6C63FF;
    color: white;
    padding: 5px;
}

.choose_img_section img {
    width: 503px;
    height: 286px;
    border-radius: 37px;
    box-shadow: 0px 4px 10px 0px;
}

.choose_img_section {
    position: relative;
    top: 91px;

}

/* Features Section*/

#features_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}

.feature_main_heading span {
    color: #6C63FF;
    font-weight: 800;
}

.feature_main_heading h2 {
    font-weight: 800;
    margin-bottom: 3rem;
}

.feature_main_heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.feature_call_section {
    width: 349px;
    height: 332px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 4px;
    padding: 14px;
    margin-right: 6rem;
    margin-bottom: 4rem;
}

.feature_call_section img {
    width: 60px;
    height: 60px;
}

.feature_call_section p {
    width: 226px;
    line-height: 22.5px;

}

.feature_call_section h2 {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 15px;
}

.feature_btn {
    background-color: #7000FF;
    width: 150px;
    height: 42px;
    border-radius: 20px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}

.feature_btn a {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

#features_section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Pricing Section*/
#pricing_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}

.pricing_box_style {
    width: 358px;
    height: 588px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 4px;
    padding: 14px;
    margin-right: 6rem;
    margin-bottom: 4rem;
}

.pricing_box_style h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.pricing_box_style h2 {
    color: rgba(112, 0, 255, 1);
    font-weight: 800;
    font-size: 42px;
    margin-bottom: 23px;
}

.pricing_box_style li {
    font-size: 20px;
    line-height: 22.5px;
    margin-bottom: 10px;
}

.pricing_btn {
    background-color: blue;
    width: 278px inherit;
    width: 278px;
    height: 73px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.pricing_btn a {
    color: white;
    font-weight: 600;
    font-size: 25px;
}

#pricing_section .row {
    display: flex;
}

/*More Info*/
#more_info_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 5rem;
    color: white;
}

.img_info_section img {
    width: 1208px;
    height: 350px;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.more_heading {
    position: relative;
    right: 0px;
    bottom: 0%;
    top: -17rem;
    text-align: center;
    left: 0px;
}

.more_heading h3 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 20px;
}

.more_heading h2 {
    width: 452px;
    background: rgba(108, 99, 255, 1);
    padding: 29px 12px;
    font-size: 34px;
    font-weight: 700;
    width: 507px;
    position: relative;
    left: 30%;

}

/*Footer Section*/
#footer_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 2rem;
    padding-bottom: 5rem;
    color: white;
}

#footer_section .row {
    display: flex;

}

.footer_logo {
    width: 305px;
    margin-right: 13rem;
}

.footer_logo h2 {
    margin-bottom: 16px;
}

.footer_logo p {
    line-height: 25px;
}

.quick_menu {
    width: 20%;
}

.quick_menu h3 {
    margin-bottom: 10px;
    color: rgba(108, 99, 255, 1);
    font-weight: 600;
}

.quick_menu li a {
    font-weight: 700;
    cursor: pointer;
    color: white;
}

.quick_menu li {
    margin-bottom: 10px;
}

.quick_menu li a:hover {
    color: #9c69de;
}

.copyrigth {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: white;
    text-align: center;
}

.copyrigth span {
    font-weight: 800;
}

/*Contact Page*/

#contact_home_section {
    background-color: #2C2C2C;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: white;
}

.heading_contact span {
    color: #6C63FF;
    font-weight: 800;

}

.heading_contact h2 {
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 35px;
}

#box_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 2rem;
    padding-bottom: 5rem;

}

#box_section .row {
    display: flex;
    justify-content: center;
}

.main_head {
    background-color: white;
    width: 450px;
    height: 61px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_head h2 {
    color: #7000FF;
    font-weight: 800;
    font-size: 33px;

}

#box_model {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 2rem;
    padding-bottom: 5rem;
}

#box_model form {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 522px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 4px #ffff;

    align-items: center;
}

#box_model form input {
    width: 373px;
    height: 67px;
    padding-left: 20px;
    border-radius: 25px;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.82);
    box-shadow: 0px 4px 4px 2px #ffff;
    font-weight: 900;
    font-size: 19px;
    color: white;
}

.form_btn {
    width: 237px;
    background-color: blue;
    height: 67px;
    border-radius: 40px;
    margin-top: 42px;
    box-shadow: 0px 4px 4px 0px #ffff;
}

.form_btn a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 147px; */
    height: 64px;
    font-weight: 700;
}

#box_model .row {
    display: flex;
    justify-content: space-around;
}

.more_contact_info h2 {
    margin-bottom: 20px;
    color: white;
    font-weight: 800;
    font-size: 35px;
}

.more_contact_info h2 span {
    color: #6C63FF;
}

.more_heading2 {
    display: flex;
    align-items: center;
    width: 427px;
    height: 67px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 4px #ffff;
    color: white;
    margin-bottom: 39px;
    padding-left: 17px;
}

.more_heading2 img {
    width: 42px;
    height: 42px;
    margin-right: 4px;
}

.more_heading2 h3 {
    font-size: 28px;
}

#map_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 2rem;
    padding-bottom: 5rem;
    text-align: center;
    color: white;
}

.map_heading h2 {
    font-size: 33px;
    margin-bottom: 10px;
}

.map_heading img {
    width: 1300px;
    height: 400px;
}

/*Privacy Policy Page*/

#_info_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 2rem;
    padding-bottom: 5rem;
    color: white;
}

#_info_section h2 {
    font-weight: 800;
    margin-bottom: 6px;
}

#_info_section p {
    font-size: 13px;
}

#_info_section div {
    margin-bottom: 36px;
    line-height: 22.5px;
}

.first_div h3 {
    color: #7000FF;
    margin-bottom: 8px;
}

/*Diet Page*/
.box_diet1 {
    width: 132px;
    height: 124px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 7px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    cursor: pointer;
}

.box_diet1 img {
    width: 75px;
    height: 59px;
    margin-top: 11px;

}

.box_diet2 {
    width: 132px;
    height: 124px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 7px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    cursor: pointer;
}

.box_diet2 img {
    width: 63px;
    height: 63px;
    margin-top: 11px;
}

.box_diet3 {
    width: 132px;
    height: 124px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 7px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    cursor: pointer;
}

.box_diet3 img {
    width: 72px;
    height: 67px;
    margin-top: 11px;
}

.box_diet4 {
    width: 132px;
    height: 124px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 7px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.box_diet4 img {
    width: 119px;
    height: 109px;
    /* margin-top: 11px; */
    margin-bottom: 10px;
}

.box_diet4 p {
    margin-bottom: 20px;

}

.box_diet5 {
    width: 132px;
    height: 124px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 7px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    cursor: pointer;
}

.box_diet5 img {
    width: 59px;
    height: 58px;
    margin-top: 11px;
}

.box_diet6 {
    width: 132px;
    height: 124px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 7px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    cursor: pointer;
}

.box_diet6 img {
    width: 65px;
    height: 65px;
    margin-top: 11px;
}

#diet_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 7rem;
    padding-bottom: 7rem;
    color: white;
}

#diet_section .row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5rem;
    padding-top: 2rem;

}

#diet_section .row p {
    font-weight: 800;

}

.main_section {
    border-radius: 25px;
    box-shadow: 0px 4px 4px 7px;
    height: 552px;
}

.input_tag {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    align-items: center;
}

.input_tag input {
    width: 268px;
    height: 49px;
    padding-left: 18px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.82);
    box-shadow: 0px 4px 4px 2px #ffff;
    font-weight: 900;
    font-size: 19px;
    color: white;
}

.input_tag h3 {
    margin-right: 10px;
    font-weight: 800;
    font-size: 26px;
}

.input_tag p {
    font-weight: 800;
    position: absolute;
    right: 50%;
    left: 56%;
    font-size: 22px;
    color: #FFA800;
}

.input_tag span {
    color: #6C63FF;
    font-weight: 800;
}

.input_sis {
    margin-left: 8rem;
}

.diet_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 393px;
    background-color: #7000FF;
    position: relative;
    right: 50%;
    left: 38%;
    top: 0;
    text-align: center;
    /* padding: 23px; */
    height: 72px;
    cursor: pointer;
    margin-top: 20px;
}

.diet_btn a {
    color: white;
    font-weight: 800;
    font-size: 25px;
}

/*How it Works.*/
#planning_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}

#planning_section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planning_heading {
    width: 60%;
}

.planning_heading h2 {
    font-size: 45px;
    margin-bottom: 5px;
    width: 429px;
    line-height: 61px;
    font-weight: 800;
}

.planning_heading h2 span {
    color: #7000FF;
    font-weight: 800;

}

.pera_class {
    font-size: 23px;
    font-weight: 800;
    margin-bottom: 28px;
}

.pera_class2 {
    font-size: 20px;
    width: 507px;
    font-weight: 700;
    line-height: 30px;
}

.pera_class3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 18px;
}

.planning_heading ol {
    padding-left: 25px;
    font-size: 20px;
    margin-top: 5px;
    line-height: 30px;
    width: 508px;
}

.planning_heading ol li {
    font-weight: 800;
}

#people-love_section {
    background-color: #2C2C2C;
    color: white;
    padding-bottom: 5rem;
    padding-top: 5rem;

}

#people-love_section .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.people_section img {
    width: 161px;
    height: 187px;
}

.people_section {
    line-height: 52px;
    font-size: 27px;
    text-align: center;
}

.people_section h3 {
    font-weight: 800;
}

.people_section h2 {
    font-weight: 800;
}

.main_people_head {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 27px;
}

.main_people_head h2 {
    font-weight: 800;
}

#easy_steps_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}

.steps_heading {
    text-align: center;
    font-size: 27px;
    margin-bottom: 20px;
}

.steps_heading h2 {
    font-weight: 800;
}

.steps_heading h2 span {
    font-weight: 800;
    color: #7000FF;
}

#first_section {
    background-color: rgba(0, 0, 0, 0.82);
    color: white;
}

#first_section h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 11px;
    margin-left: 61px;
}

.create img {
    width: 139px;
    height: 140px;
}

.create p {
    font-size: 23px;
    font-weight: 700;
    width: 721px;
}

.create .row {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    justify-content: space-around;
}

.arrow img {
    width: 30px;
    height: 107px;
    position: relative;
    left: 37%;

}


.collect .row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.collect_h2 {
    text-align: end;
    margin-right: 61px;
    margin-left: 0px !important;
}

.collect .row img {
    width: 192px;
    height: 146px;
}

.collect p {
    font-size: 24px;
    font-weight: 700;
}

.arrow2 img {
    left: 46%;
    margin-top: 15px;
}

.last_conquer {
    padding-bottom: 6rem;
}


/* Supported diets page*/

#type_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}

#type_section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type_heading p {
    width: 589px;
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;

}

.type_heading h2 {
    font-size: 33px;
    font-weight: 800;
    margin-bottom: 15px;


}

.type_heading h2 span {
    color: #7000FF;
    font-weight: 800;
}

.type_img {
    width: 388px;
    height: 388px;
}

#diet_info_section {
    background-color: #2C2C2C;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}

.diet_img {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.diet_img img {
    width: 288px;
    height: 288px;
}

.diet_img .img_2 {
    width: 251px;
    height: 167px;
}

.diet_img .img_4 {
    width: 175px;
    height: 234px;
}

.diet_img .img_3 {
    width: 344px;
    height: 327px;
    transform: rotate(6deg);
}

.diet_info_section {
    width: 628px;
    height: 626.41px;
    background-color: #7000FF;
    padding-left: 30px;
    position: relative;
    right: 25%;
    left: 25%;
    border-radius: 25px;
}

.diet_info_section h3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 60px;
}


/*Login page*/
#login_section {
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 1rem;
    /* padding-bottom: 7rem; */
    color: white;
    border-radius: 20px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    height: 770px;
}

.login_heading a {
    color: white;
}

.login_heading {
    font-size: 26px;
    margin-bottom: 10px;
}

.copyrigth2 {
    text-align: center;
    font-size: 28px;
    margin-top: 1rem;
}

.copyrigth2 p span {
    font-weight: 800;
}

.login_input h2 {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 15px;
}

.login_input p {
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 21px;
}

.row form {
    width: 360px;
}

form fieldset {
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 21px;
}

form fieldset legend {
    color: black;
    background-color: white;
    margin-left: 11px;
    width: 58px;
    /* border: 1px solid; */
    padding-left: 10px;
}

form fieldset input {
    border: none;
    width: 360px;
    height: 34px;
    border-radius: 10px;
    padding-left: 15px;
}

form button {
    width: 360px;
    height: 41px;
    background-color: blue;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 17px;
}

form button a {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #FFFFFF;
}

.label_section label {
    font-size: 14px;
}

.label_section {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    margin-bottom: 20px;
    width: 360px;
}

.label_section span a {
    color: #7000FF;
}

.password_legend {
    width: 84px;
}

form p {
    text-align: center;
}

form p a {
    color: #FF8682;
}

.social_icon img {
    width: 22px;
    height: 22px;
}

.icon_gallery {
    display: flex;
    align-items: center;
}

.social_icon {
    margin-right: 10px;
    background-color: white;
    width: 110px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#login_section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_img_section img {
    border-radius: 15px;
}


/*Sing up*/
.form_section {
    display: flex;
    flex-wrap: wrap;
    width: 691px !important;
}

.form_section input {
    width: 321px;
}

.form_section fieldset {
    margin-right: 19px;

}

.form_section legend {
    width: 123px;
}

.password_section {
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 21px;
    width: 664px;
    height: 45px;
}

.password_section input {
    width: 664px;
    height: 34px;
    padding-left: 11px;
    border: none;
    border-radius: 10px; 
}

.password_section legend {
    color: black;
    background-color: white;
    margin-left: 11px;
    width: 58px;
    /* border: 1px solid; */
    padding-left: 10px;
}

.password_info {
    width: 87px !important;
}

.password_more {
    width: 155px !important;
}

.label_checkbox {
    width: 664px !important;
}

.label_checkbox p {
    font-size: 19px;
}

.label_checkbox p span {
    color: #7000FF;
}

.label_checkbox label {
    display: flex;
}

.label_checkbox label input {
    height: 23px;
    width: 40px;
}

.login_input .sing_btn {

    width: 664px;
    height: 46px;
    background-color: blue;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 17px;
}

.login_input button a {
    color: white;
}

.pera_button {
    font-size: 15px !important;
    text-align: center;
}

.icon_gallery2 {
    justify-content: center;
}

.icon_gallery2 .social_icon {
    width: 210px;
    height: 60px;
}

.img_section_sing_up {
    height: 620px;
    width: 498px;
}

.login_heading2 {
    text-align: end;
}

@media only screen and (max-width:720px) {

    /* Header section*/
    .nav_section nav ul {
        display: none;
        position: absolute;
        right: 0;
        /* left: 78px; */
        top: 59px;
        bottom: 0px;
        text-align: center;
        left: 0;
        background-color: rgba(0, 0, 0, 0.82);
        height: 279px;
        border-radius: 13px;
        margin-left: 10px;
        margin-right: 10px;

    }

    .nav_section nav ul li {
        margin-bottom: 14px;

    }

    .nav_section nav ul li a {
        color: white;
        font-weight: 800;
    }

    .nav-active {
        display: block !important;
    }

    nav i {
        display: block !important;
        position: relative;
        right: 21px;
        margin-top: 0px;
        color: white;
    }

    .btn_section {
        position: absolute;
        right: 90px;
        margin-top: 24px;
        padding: 11px 28px;
    }

    header {
        height: 56px;
    }

    .logo_section img {
        width: 145px;
    }

    .btn_section {
        display: none;
    }


    /*More info Section*/
    .img_info_section img {
        width: 404px;
        height: 344px;
    }

    .more_heading h2 {
        width: 254px;
        left: 16%;
        font-size: 18px;
        padding: 17px 9px;
    }

    .more_heading h3 {
        font-size: 20px;
    }

    /*pricing_section*/

    #pricing_section .row {
        flex-direction: column;
        align-items: center;
    }

    .pricing_box_style {
        margin-right: 0px;
    }

    /*features_section*/

    .feature_call_section {
        margin-right: 0px;
    }

    /*choose_section*/

    #choose_section .row {
        flex-direction: column;
    }

    .choose_img_section img {
        width: 383px;
        height: 224px;
        margin-bottom: 9rem;

    }

    .choose_titel {
        width: 94%;
        text-align: justify;
    }

    .choose_titel p {
        line-height: 29.5px;
        margin-left: 14px;
    }

    .choose_titel h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    /*about_section*/

    #about_section .row {
        flex-direction: column-reverse;
    }

    .about_titel {
        width: 91%;
        margin-left: 14px;
        margin-top: 27px;
        text-align: justify;
    }

    .about_img_section img {

        width: 375px;
        height: 217px;
    }

    /*Home Section*/
    .home_img_section {
        display: none;
    }

    .home_titel h2 {
        text-align: center;
        font-size: 5rem;
    }

    .home_section_btn {
        position: relative;
    }

    .home_btn {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .home_section_btn {
        position: relative;
        right: -30px;
        padding: 3px 14px;
    }

    /*header Section*/
    .logo_section {
        margin-left: 19px;
    }

    /*Footer Section*/
    #footer_section .row {
        flex-direction: column;
    }

    .quick_menu {
        width: 100%;
        padding-left: 20px;
    }

    .footer_logo {
        margin: 0px;
        text-align: center;
        width: 100%;
    }


    /*page Section*/

    /*Contact Page*/
    .heading_contact h2 {
        font-size: 27px;
    }

    .main_head {
        width: 360px;
        height: 53px;
    }

    .main_head h2 {
        font-size: 25px;
    }

    #box_model .row {
        flex-direction: column;
        align-items: center;
    }

    #box_model form {
        width: 377px;
        height: 460px;
        margin-bottom: 28px;
    }

    #box_model form input {
        width: 337px;
        height: 56px;
        font-size: 15px;
    }

    .form_btn {
        width: 235px;
        height: 64px;
    }

    .more_contact_info h2 {
        font-size: 27px;
        text-align: center;
        width: 98%;
        margin-top: 14px;

    }

    .more_heading2 {
        width: 364px;
    }

    .more_heading2 h3 {
        font-size: 20px;
    }

    .more_heading2 img {
        width: 34px;
        height: 34px;

    }

    .map_heading img {
        width: 370px;
        height: 370px;
        border-radius: 10px;
    }

    /*privacy policy*/
    #_info_section .row div {
        margin-left: 15px;
        margin-right: 15px;
    }

    /*How it works page*/
    #planning_section .row {
        flex-direction: column;
    }

    .planning_heading {
        width: 100%;
    }

    .planning_heading h2 {
        font-size: 37px;
        width: 402px;
        text-align: center;
    }

    .pera_class {
        font-size: 18px;
        text-align: center;
    }

    .pera_class2 {
        font-size: 16px;
        width: 402px;
        margin-left: 15px;
    }

    .planning_heading ol {
        width: 401px;
        font-size: 16px;
        margin-left: 6px;
    }

    .pera_class3 {
        font-size: 16px;
        text-align: center;
    }

    .planning_img img {
        margin-top: 4rem;
        width: 306px;
    }

    .main_people_head {
        font-size: 16px;
    }

    #people-love_section .row {
        flex-direction: column;
    }

    .people_section {
        font-size: 20px;
        margin-bottom: 2rem;
    }

    .people_section img {
        width: 150px;
        height: 150px;
    }

    .steps_heading {
        font-size: 17px;
    }

    .create h2 {
        text-align: center;
        font-size: 26px !important;
    }

    .create img {
        width: 120px;
        height: 120px;
    }

    .create p {
        font-size: 17px;
        font-weight: 700;
        width: 387px;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #first_section .row {
        flex-direction: column;
    }

    .collect h2 {
        text-align: center;
        font-size: 26px !important;
    }

    .collect img {
        width: 170px !important;
        height: 129px !important;
    }

    .collect p {
        font-size: 17px;
        width: 387px;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    /* Diet page*/

    #diet_section .row{
        flex-wrap: wrap;
        justify-content: center;
        gap: 28px;
        margin-left: 29px;
    
    }
    .main_section{
        height: 900px;
        width: 380px;
        margin-left: 15px;
    }
    .box_diet1{
        width: 125px;
    height: 106px;
    gap: 17px;
    margin-bottom: 28px;
    }
    .box_diet1 p{
        font-size: 14px;
    }
    
    .box_diet2{
        width: 125px;
    height: 106px;
    gap: 17px;
    margin-bottom: 28px;
    }
    .box_diet2 p{
        font-size: 14px;
    }
    .box_diet3{
        width: 125px;
    height: 106px;
    gap: 17px;
    margin-bottom: 28px;
    }
    .box_diet3 p{
        font-size: 14px;
    }
    .box_diet4{
        width: 125px;
    height: 106px;
    margin-bottom: 28px;
    }
    .box_diet4 img{
        width: 104px;
        height: 85px;
    }
    .box_diet5{
        width: 125px;
    height: 106px;
    gap: 17px;
    margin-bottom: 28px;
    }
    .box_diet5 p{
        font-size: 14px;
    }
    .box_diet6{
        width: 125px;
    height: 106px;
    gap: 17px;
    margin-bottom: 28px;
    }
    .box_diet6 p{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .input_tag{
        flex-direction: column;
    }
    .input_tag p{
        display: none;
    }
    .input_sis{
        margin-left: 1rem;
    }
    .diet_btn{
        left: 13%;
        width: 287px;
    }
    #diet_section{
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    /*supported Diets page*/
    #type_section .row{
        flex-direction: column;
    }
    .type_heading h2{
        font-size: 20px;
        text-align: center;
        width: 85%;
    }
    .type_heading p{
        width: 404px;
        font-size: 16px;
        margin-left: 6px;
    }
    .type_img img{
        width: 400px;
        margin-top: 22px;
    
    }
    .diet_img img{
        width: 140px;
        height: 140px;
    }
    .diet_img .img_2{
        width: 110px;
        height: 110px;
        margin-right: 15px;
    
    }
    .diet_img .img_3{
        width: 120px;
        height: 120px;
        margin-right: 15px;
    }
    .diet_img .img_4{
        width: 120px;
        height: 120px;
        margin-left: 15px;
    }
    .diet_info_section{
        width: 281px;
        height: 475px;
        left: 18%;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .diet_info_section h3{
        font-size: 23px;
        line-height: 41px;
    }
    /*sing up page*/
    #login_section .row {
        flex-direction: column;
    }
    #login_section{
        height: 1400px;
        border-radius: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    
    }
    .img_section_sing_up{
        height: 340px;
        width: 300px;
        margin-top: 10px;
    }
    .login_input .form_section{
        flex-direction: column;
        width: 441px !important;
        justify-content: center;
        align-items: center;
        margin-left: 6rem;
    }
    .login_input p{
        width: 473px;
        text-align: center;
        margin-left: 4rem;
    }
    .password_section{
        border-radius: 10px;
        margin-left: 9rem;
        width: 324px;

    }
    .password_section input{
        width: 324px;

    }
    .login_input h2{
        font-size: 27px;
        text-align: center;
        margin-top: 10px;
        width: 424px;
    }
    .label_checkbox{
        width: 533px !important;
    }
    .label_checkbox label{
        width: 530px;
    }
    .label_checkbox p{
        font-size: 13px;
        margin-left: 0px;
    }
    .label_checkbox label input{
        margin-left: 10rem;
    }
    .icon_gallery2 .social_icon {
        width: 110px;
        height: 44px;
    }
    
}